<section [attr.aria-labelledby]="titleId" class="relative z-[21] mt-[-4.5rem] pb-[6.25rem] 
  md:mt-[-6rem] md:pb-[7.375rem] xl:mt-[-4.375rem] xl:pb-0
">
  <span
    class='md:pattern-xl-top-right top-[12.25rem] left-[-32.3125rem] xl:top-[20rem] xl:left-0'></span>
  <span class='md:pattern-xl-top-left bottom-0 right-[-31.9375rem] xl:right-0'></span>
  <div class="container">
    <h2 [id]="titleId" class="sr-only">Restaurant Features</h2>
    <ul class="flex flex-col gap-[6.25rem] [&>li]:max-w-[35.8125rem] [&>li]:mx-auto
        xl:[&>li]:max-w-none xl:[&>li]:mx-0 xl:gap-[7.5625rem]
      ">
      <li>
        <app-feature-card image="enjoyable-place" [invert]="false">
          <h3 title>Enjoyable place <br /> for all the family</h3>
          <p>Our relaxed surroundings make dining with us a great experience for everyone.
            We can even arrange a tour of the farm before your meal.
          </p>
        </app-feature-card>
      </li>
      <li class="relative">
        <span
          class="md:pattern-sm top-[14.25rem] right-[-3.625rem] xl:top-[17.625rem] xl:right-[-7.125rem]"></span>
        <app-feature-card image="locally-sourced" [invert]="true">
          <h3 title>The most locally <br /> sourced food</h3>
          <p>All our ingredients come directly from our farm or local fishery. So you can
            be sure that you&apos;re eating the freshest, most sustainable food.
          </p>
        </app-feature-card>
      </li>
    </ul>
  </div>
</section>