<span
  class="block w-full [&>*]:h-16 [&>*]:border [&>*]:text-[1.0625rem] [&>*]:grid [&>*]:place-items-center font-semibold"
  [ngClass]="{
    '[&>*]:border-neutral-50': type === 'transparent',
    '[&>*]:border-neutral-800' : type === 'dark' || type === 'white',
    '[&>*:hover]:border-neutral-50' : type === 'transparent' || type === 'white',
    '[&>*:hover]:border-neutral-800' : type === 'dark',
    
    '[&>*]:text-neutral-800' : type === 'white',
    '[&>*]:text-neutral-50' : type === 'dark' || type === 'transparent',
    '[&>*:hover]:text-neutral-800' : type === 'dark' || type === 'transparent',
    '[&>*:hover]:text-neutral-50' : type === 'white',
    
    '[&>*]:bg-neutral-50': type === 'white',
    '[&>*]:bg-transparent': type === 'transparent',
    '[&>*]:bg-neutral-800': type === 'dark',
    '[&>*:hover]:bg-neutral-50' : type === 'dark' || type === 'transparent',
    '[&>*:hover]:bg-neutral-800' : type === 'white'
  }">
  <ng-content></ng-content>
</span>