<footer class="bg-neutral-800 text-neutral-50 pt-20 pb-[4.75rem]">
  <div
    class="container flex flex-col items-center md:flex-row gap-[8.125rem] md:items-start xl:gap-[12rem]">
    <a routerLink="/" aria-label="homepage">
      <img src="/assets/logo.svg" alt="">
    </a>
    <div
      class="text-[0.875rem] leading-7 text-center md:text-left xl:flex xl:gap-[7.75rem]">
      <address class="uppercase mt-10 md:mt-0">
        Marthwaite, Sedbergh <br />
        Cumbria <br />
        +00 44 123 4567
      </address>
      <section class="mt-8 xl:mt-0">
        <h2>OPEN TIMES</h2>
        <p>MON - FRI: 09:00 AM - 10:00 PM</p>
        <p>SAT - SUN: 09:00 AM - 11:30 PM</p>
      </section>
    </div>
  </div>
</footer>