<header class="">
  <picture class='absolute w-full h-0 pb-[46.75rem] md:pb-[62rem] xl:pb-[51.25rem]'>
    <source media="(min-width: 74rem)"
      srcset="assets/homepage/hero-bg-desktop.jpg 1x, assets/homepage/hero-bg-desktop@2x.jpg 2x" />
    <source media="(min-width: 45rem)"
      srcset="assets/homepage/hero-bg-tablet.jpg 1x, assets/homepage/hero-bg-tablet@2x.jpg 2x" />
    <img class="absolute w-full top-0 left-0 h-full  object-cover object-left-top"
      srcset="assets/homepage/hero-bg-mobile.jpg 1x, assets/homepage/hero-bg-mobile@2x.jpg 2x"
      alt="">
  </picture>

  <div class="relative z-10 container text-neutral-50 text-center">
    <div class="flex justify-center md:justify-start">
      <a routerLink="/" aria-label="Homepage" class="w-[5.125rem] md:w-[6.4375rem]">
        <img src="/assets/logo.svg" alt="">
      </a>
    </div>
    <h1 class="heading-xl">Exquisite dining since 1989</h1>
    <p class='body-xl'>Experience our seasonal menu in beautiful country surroundings. Eat
      the freshest
      produce from the comfort of our farmhouse.</p>
  </div>
</header>