<section [attr.aria-labelledby]="titleId" id="reserve"
  class="relative z-10 mt-[5.6875rem] pb-[5.375rem] md:mt-[2.375rem] md:pb-[7.5rem] xl:mt-[-11.75rem] xl:pb-[6.3125rem]">
  <div class="container xl:flex xl:justify-end relative z-10">
    <h2 [id]="titleId" class="sr-only">Make a Reservation</h2>
    <div class="relative">
      <div class="relative z-10">
        <app-booking-form></app-booking-form>
      </div>

      <div class="hidden xl:pattern-sm xl:bottom-[-1.4375rem] xl:left-[-5rem]"></div>
    </div>

  </div>
  <div class="hidden xl:pattern-xl-bottom-right bottom-0 left-0"></div>

</section>