<section [attr.aria-labelledby]="titleId"
  class="relative pt-20 md:pt-[7.5rem] xl:pt-[10rem]">
  <div class="md:pattern-xl-top-right top-0 left-[-32.3125rem] xl:left-[-21.875rem]">
  </div>
  <div class="relative z-10 container grid grid-cols-[min(100%,20.4375rem)] justify-center
    md:grid-cols-1 xl:grid-cols-[33.75rem,35.625rem]
  ">
    <div class="md:pattern-sm top-[-2.375rem] left-0 xl:left-[-2.5rem]"></div>
    <picture class="xl:row-start-1 xl:row-span-3">
      <source media="(min-width: 74rem)" [srcset]="getSrcset('desktop')">
      <source media="(min-width: 45rem)" [srcset]="getSrcset('tablet')">
      <img alt="thumbnail" [srcset]="getSrcset('mobile')"
        class="shadow-card-xl md:mx-auto">
    </picture>
    <div class="mt-12 flex flex-col gap-4 md:flex-row md:justify-between md:mt-14 xl:order-1
      xl:flex-col xl:items-start xl:gap-3
    ">
      <app-event-button [active]="current===0" [value]="0" (onClick)="onClick($event)">
        {{ events[0].title.toUpperCase() }}
      </app-event-button>
      <app-event-button [active]="current===1" [value]="1" (onClick)="onClick($event)">
        {{ events[1].title.toUpperCase() }}
      </app-event-button>
      <app-event-button [active]="current===2" [value]="2" (onClick)="onClick($event)">
        {{ events[2].title.toUpperCase() }}
      </app-event-button>
    </div>
    <header class="mt-7 md:mt-12 md:max-w-[28.5625rem] md:mx-auto xl:mt-[4.375rem] xl:ml-[7.8125rem]
      xl:max-w-none xl:mr-0
    ">
      <h2 [id]="titleId" class="heading-md text-neutral-500 text-center xl:text-left">{{
        events[current].title }}</h2>
      <p class='mt-4 body-xl text-neutral-500 text-center xl:text-left xl:mt-[1.1875rem] xl:min-h-[8.125rem]'>{{
        events[current].description
        }}</p>
      <div class="mt-7 w-[15.3125rem] mx-auto md:mt-14 xl:mx-0 xl:mt-10">
        <app-button-wrapper type='dark'>
          <a routerLink="/booking">BOOK A TABLE</a>
        </app-button-wrapper>
      </div>
    </header>
  </div>
</section>