<article class='xl:grid  xl:justify-between'
  [ngClass]="invert ? 'xl:grid-cols-[27.8125rem,33.75rem]' : 'xl:grid-cols-[33.75rem,27.8125rem]'">
  <picture [ngClass]="{'xl:order-1': invert}">
    <source media="(min-width: 74rem)" [srcset]="getSrcset('desktop')">
    <source media="(min-width: 45rem)" [srcset]="getSrcset('tablet')">
    <img alt="" [srcset]="getSrcset('mobile')"
      class="w-full h-[25rem] object-cover object-center shadow-card-xl md:h-[22.5rem] xl:h-[45rem] ">
  </picture>
  <header class="mt-12 text-center text-neutral-500 md:mt-14 xl:text-left xl:h-max"
    [ngClass]="invert ? 'xl:mt-[12.5rem]' : 'xl:mt-[15.625rem]'">
    <div class="flex justify-center xl:justify-start">
      <img src="/assets/patterns/pattern-divide.svg" alt="">
    </div>
    <div class="mt-9 heading-md md:mt-10 xl:mt-[3.4375rem]">
      <ng-content select="[title]"></ng-content>
    </div>
    <div class="mt-3 body-xl max-w-[27.8125rem] mx-auto md:mt-7 xl:mx-0 xl:mt-[1.6875rem]">
      <ng-content></ng-content>
    </div>
  </header>
</article>